<p id="notice"><%= notice %></p>

<h1>投稿画像一覧</h1>

<table>
  <thead>
    <tr>
      <th>投稿画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.image %></td>
        <td><%= feed.user.name %></td>
        <td><%= link_to '投稿画像を見る', feed %></td>
        <td><%= link_to '投稿を編集する', edit_feed_path(feed) %></td>
        <td><%= link_to '投稿画像を削除する', feed, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_feed_path %>
